.background{
  background-color: #343540;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.fileUploadBox{
  background-color: #494A53;
  width: 748px;
  height: 703px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fileUploadText{
  font-size: 24px;
  color: white;
  margin-top: 17px;
  margin-bottom: 12px;
}
.generalText{
  font-size: 20px;
  color: white;
  margin-bottom: 17px;
}
.uploadButton{
  width: 303px;
  height: 40px;
  font-size: 22px;
  color: white;
  background-color: #343540;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.chatbotContainer{
  width: 480px;
  height: 703px;
  display: flex;
  flex-direction: column;
  margin-left: 85px;
  margin-top: 24.44px;
}
.chatbotHeader{
  width: 100%;
  height: 56px;
  background-color: #494A53;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatbotBody{
  width: 100%;
  height: 591px;
  background-color: #D9D9D9;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.chatbotBody::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.chatbotFooter{
  width: 100%;
  height: 56px;
  background-color: #A4A3A3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatbotQuery{
  width: 407px;
  height: 44px;
  border: 2px solid #51515C;
  border-radius: 1rem;
  margin-right: 8px;
}
.queryUpload{
  cursor: pointer;
}
.chatbotBox{
  display: flex;
  margin-top: 13px;
  justify-content: center;
}
.chatbot{
  height: 48px;
  margin-right: 13px;
}
.chatbotChatBox{
  display: flex;
  flex-direction: column;
}
.chatbotChatBox_user{
  display: flex;
}
.user{
  margin-left: 13px;
}
.chatbotChat{
  background-color: #FAFAFB;
  width: 398px;
  text-align: left;
  font-size: 13px;
  border: 2px solid #51515C;
  border-radius: 1rem;
  padding: 7px 0px 7px 7px;
}
.chatbotButton{
  display: flex;
  width: 409px;
  justify-content: space-between;
}
.chatbotButton > div{
  width: 194px;
  height: 34px;
  font-size: 13px;
  background-color: #EEEFB7;
  border: 2px solid #51515C;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9px;
  cursor: pointer;
}

/* 엑셀 */
.excelDate{
  display: flex;
  width: 1148px;
  margin-bottom: 3px;
}
.excelDate label{
  color: white;
}
.date{
  width: 100px;
  height: 20px;
  border-radius: 0.2rem;
}
.excelTable{
  background-color: white;
  width: 1148px;
  height: 703px;
  overflow-y: scroll;
}
.excelTable table {
  border-collapse: collapse; /* 테두리를 겹치게 만듭니다. */
  width: 100%; /* 테이블이 부모 요소의 너비를 채우도록 설정합니다. */
}

.excelTable th, .excelTable td {
  border: 1px solid black; /* 테두리를 추가합니다. */
  padding: 8px; /* 셀 안의 내용과 테두리 사이의 간격을 지정합니다. */
}

.excelTable th {
  background-color: #f2f2f2; /* 테이블 헤더의 배경색을 설정합니다. */
}

.excelDownload{
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  position: absolute;
  width: 1148px;
  display: flex;
  justify-content: right;
  margin-top: 13.62px;
}